

.produtos-container {
    width: 100%;
    max-width: 1024px;
    padding:10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.produto-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.produto {
    width: 200px;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    padding: 10px 5px;
}

.produto:hover {
    box-shadow: 10px 10px 20px #42424288;
}

.produto span {
    font-weight: 600;
    margin: 15px 0;
    font-size: 20px;
}

.container-btn {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.produto-btn {
    background: none;
    border: none;   
    font-size: 30px; 
    cursor: pointer;
}

